# Map all author identities to primary GitHub identity
Srilakshmi Kommareddi <sri.kommareddi@gmail.com> <srilakshmi@MacBook-Air.local>
Srilakshmi Kommareddi <sri.kommareddi@gmail.com> srikommareddi <sri.kommareddi@gmail.com>
